
/************************************************
   DESKTOP FIRST
 ************************************************/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

img {
    max-width: 100%;
}

.white {color: white;}

.grey {color: #7D7F84;}

.wrapper {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* debug */
    /* border: 2px solid red; */
    
}

/* flex: top of each other */
.top-col {

    width: 100%;
    height: calc(100% - 80px);
    /* border: 2px solid purple; */
    display: flex;
}

.bottom-col {
width: 100%;    
height: 80px;
background-color: #282828;
/* debug */
/* border: 2px solid green; */
}

/* 2-level */

.left-col {
    width: 200px;
    /* height: calc(100% - 80px); */
    /* border: 2px solid orange; */
    background-color: #000000;
    color: white;

}

/* .side-bar-items{
    /* display: flex; */

/* genitore overflow and calc */
.right-col {
    width: calc(100% - 200px);
    overflow: auto;
    
    /* border: 3px solid blue; */
}

/* check this later */
.header {
    padding: 20px;
 

    /* debug */
    /* border: 2px solid violet; */
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;  
}

/* height: 100% del genitore(top-col) */
.content {
    height: 100%; 
    padding: 30px 30px 30px ;
    /* overflow: auto;*/
    background-color:#141922;
    /* overflow: auto; */
}

.btn {
text-decoration:none;
background-color: black;
Padding: 10px 20px;
Border-radius:30px;
Font-size: 0.7rem;
color:white;
border:1px solid white;
}

.nav-menu {

    /* border: 1px solid white; */
    padding-bottom: 30px;
}

.nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    font-size: 15PX;
}

.side-bar-items {
padding-left: 10px;
display: flex;
flex-direction: column;
justify-content:space-between ;
gap: 40px;
height: 100%;
}

.side-bar-list li {
    margin-bottom: 10px;
    color: #7D7F84;;
    padding: 5px;
    font-size: 10px;
    list-style: none;
}

h4 {
    font-size: 13px;
    font-weight: 700;
}

.span-big {
    font-size: 15px;
}
.span-bigger {
    font-size: 25px;
}

a {
    color: #7D7F84;
    text-decoration: none;
}

/* .side-top {
    margin-top: 10px; 
} */

.spotify {
    padding: 20px 0;
}

.logo-img {
    /* width:40px; */
    height: 40px;
}

.side-top .logo-img,
.side-top .brand {
    vertical-align: middle;  
}

.side-top .brand {
    font-size: 20px;
    font-weight: 700;
}

.crea-playlist .logo,
.crea-playlist .title {
    vertical-align: middle
}

.divider {
    margin: 10px;
}

.john-doe .circle-profile,
.john-doe .john-doe-title {
    vertical-align: middle;
}

.circle-profile {
    border: 1px solid white;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size:  10px;
}
.john-doe-title {
    font-size: 15px;
}

.john-doe {
    padding-bottom: 10px;
}

.albums-row {
   display: flex;
    flex-wrap: wrap;   
}

.album-col {
     width: calc(100% / 6);
    
    /* debug */
    /* border: 1px solid black; */
    min-height: 20px;
    text-align: center;
}

.card {
    padding: 20px;
}

.subtitle {
    font-size: 10px;
}

.title-subtitle {
    padding-left: 20px;
}

.circle-album {
    border: 1px solid black;
    width: 170px;
    height: 170px;
    display: inline-block;
    border-radius: 50%;
    line-height: 170px;
    text-align: center;
    /* font-size: 10px; */
}

.bottom-col {
    background-color: black;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.song-playing img {
    width: 30px;
}

.little-icons {
    padding-left: 20px;
}


.bottom-center {

    display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
}

.bottom-center-up {
    padding: 20px;
    font-size: 7px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 40px; display: flex;
}     

.core-buttons {
   display: flex;
   justify-content: space-between;
   gap: 30px;   
}

.large-icon {
    font-size: 20px;
}

.progressbar {
        width: 200%;
        height: 8px;
        border-radius: 5px;
    }

/************************************************
   TABLET
 ************************************************/

@media screen and (max-width: 768px) {
    
.album-col {
        width: calc(100% / 4);

        /* debug */
        /* border: 1px solid black; */
        min-height: 20px;
        text-align: center;
    }

.card {
        padding: 5px;
    }

     .content {
        height: 100%;
        padding: 30px 5px 5px;
        /* overflow: auto;*/
        background-color: #141922;
    }

        .title-subtitle {
            padding-left: 5px;
        }

    }

 /************************************************
   MOBILE
 ************************************************/
@media screen and (max-width: 480px) {

.album-col {
        width: calc(100% / 2);

        /* debug */
        /* border: 1px solid black; */
        min-height: 20px;
        text-align: center;
    }

    .brand {display: none;}

    .home {display: none;}

    .cerca {display: none;}

    .library {display: none;}

    .playlist {display: none;}

    .crea-playlist1 {display: none;}

    .new-playlist {display: none;}

    .john-doe-title {display: none;}
    
    .divider {display: none;}

    .install-app {display: none;}

    .circle-profile {margin-top: 20px;
    font-size: 50px;}
    
     .top-col {
    
     width: 100%;
                      
    } 

    .left-col {
    width: 60px;}

    .right-col {
        width: calc(100% - 60px);
    }
               
}