
/************************************************
   DESKTOP FIRST
 ************************************************/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

h4 {
    font-size: 13px;
    font-weight: 700;
}

/* UTILITIES */
.small {
    font-size: 10px;
}

.bigger {font-size: 10px;}

.padding-left {padding-left: 10px;}

.white {color: white;}

.grey {color: #7D7F84;}

.span-big {
    font-size: 15px;
}

.span-bigger {
    font-size: 25px;
}

a {
    color: #7D7F84;
    text-decoration: none;
}

/* COMMON */

img {
    max-width: 100%;
}

.btn {
    text-decoration: none;
    background-color: black;
    Padding: 10px 20px;
    Border-radius: 30px;
    Font-size: 0.7rem;
    color: white;
    border: 1px solid white;
}

/* STUTTURA LAYOUT*/

.wrapper {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* debug */
    /* border: 2px solid red; */  
}

/* flex: top of each other */
.top-col {
    width: 100%;
    height: calc(100% - 80px);
    /* border: 2px solid purple; */
    display: flex;
}

.bottom-col {
width: 100%;    
height: 80px;
background-color: #282828;
/* debug */
/* border: 2px solid green; */
}

.left-col {
    width: 200px;
    /* height: calc(100% - 80px); */
    /* border: 2px solid orange; */
    background-color: #000000;
    color: white;
}

/* genitore overflow and calc */
.right-col {
    width: calc(100% - 200px);
    /* overflow: auto; */
}

/* check this later */
.header {
    padding: 20px;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;  

    position: fixed;
    width: calc(100% - 200px);
}

/* height: 100% del genitore(top-col) */
.content {
    /* height: 100%;  */
    height: calc(100% - 76px);
    padding: 30px 30px 30px ;
    margin-top: 76px;
    background-color:#141922;
    overflow-y: auto;
}

/* DETAILS */

/* NAV-MENU IN CONTENT SECTION */

.nav-menu {
    padding-bottom: 30px;
}

.nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    font-size: 10PX;
}

/* SIDE-BAR */

.side-bar-items {
padding-left: 10px;
display: flex;
flex-direction: column;
justify-content:space-between ;
gap: 40px;
height: 100%;
}

.side-bar-list li {
    margin-bottom: 10px;
    color: #7D7F84;;
    padding: 5px;
    font-size: 10px;
    list-style: none;
}

.spotify {
    padding: 20px 0;
}

.logo-img {
    /* width:40px; */
    height: 40px;
}

.side-top .logo-img,
.side-top .brand {
    vertical-align: middle;  
}

.side-top .brand {
    font-size: 20px;
    font-weight: 700;
}

.divider {
    margin: 10px;
}

.john-doe .circle-profile,
.john-doe .john-doe-title,
.crea-playlist .logo,
.crea-playlist .title
 {
    vertical-align: middle;
}

.circle-profile {
    border: 1px solid white;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size:  10px;
}

.john-doe {
    padding-bottom: 10px;
}

.albums-row {
   display: flex;
    flex-wrap: wrap;   
}

.album-col {
     width: calc(100% / 6);
    
    /* debug */
    /* border: 1px solid black; */
    min-height: 20px;
    text-align: center;
}

.card {
    padding: 20px;
    position: relative;
}

.overlay {
    /*this way div is above img*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    /*per centrare testo-flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.subtitle {
    font-size: 10px;
}

.title-subtitle {
    padding-left: 20px;
}

.circle-album {
    border: 1px solid black;
    width: 170px;
    height: 170px;
    display: inline-block;
    border-radius: 50%;
    line-height: 170px;
    text-align: center;
    /* font-size: 10px; */
}

/* FOOTER/BOTTOM */

.bottom-col {
    background-color: black;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-playing img {
    width: 30px;
}

.little-icons {
    padding-left: 20px;
}

.bottom-left {
    flex-grow: 1;
}

.bottom-center {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 2;
}

.bottom-right {
    flex-grow: 1;
    text-align: right;
    margin: 10px;
    }

.bottom-center-up {
    font-size: 7px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 40px; display: flex;
}     

.bottom-right i {
    padding: 10px;
}

.core-buttons {
   display: flex;
   justify-content: space-between;
   gap: 30px;   
}

.large-icon {
    font-size: 20px;
}

.progressbar {
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }

.volume-slider {
    background: transparent;
    color: green;
    height: 2px;
        
    background: #7D7F84;
    border-radius: 50%;
    cursor: pointer;
    }

    /* HOVER */

    .side-bar-list li:hover,
    .new-playlist a:hover,
    .nav-menu-list a:hover,
    .install-app:hover,
    i:hover {
        color:white
    }

     .btn:hover {
        transform: scale(1.2);
        }

        .play-size {font-size: 30px;}

        .quite-place-img {display: block;}

        .overlay {display: none;}
                        
        .card:hover .quite-place-img{
            display: none;
        }
    
        .card:hover .overlay {
            display: block;
        }

        /* PSEUDO-ELEMENT */

     .highlight::after {
        content: "";
        /* height: ; */
        margin: 0 auto;
        border-bottom: 2px solid greenyellow;
        width: 40px;
        display: block;
        margin-top: 3px;
        }
    
   
     
/************************************************
   TABLET
 ************************************************/

@media screen and (max-width: 768px) {
    
.album-col {
        width: calc(100% / 4);

        /* debug */
        /* border: 1px solid black; */
        min-height: 20px;
        text-align: center;
    }

.card {
        padding: 5px; 
    }

     .content {
        height: 100%;
        padding: 30px 5px 5px;
        /* overflow: auto;*/
        background-color: #141922;
    }

        .title-subtitle {
            padding-left: 5px;
        }

    }

 /************************************************
   MOBILE
 ************************************************/
@media screen and (max-width: 480px) {

.album-col {
        width: calc(100% / 2);

        /* debug */
        /* border: 1px solid black; */
        min-height: 20px;
        text-align: center;
    }

    .brand {display: none;}

    .home {display: none;}

    .cerca {display: none;}

    .library {display: none;}

    .playlist {display: none;}

    .crea-playlist1 {display: none;}

    .new-playlist {display: none;}

    .john-doe-title {display: none;}
    
    .divider {display: none;}

    .install-app {display: none;}

    .circle-profile {margin-top: 20px;
    font-size: 50px;}
    
     .top-col {
    
     width: 100%;
                      
    } 

    .left-col {
    width: 60px;}

    .right-col {
        width: calc(100% - 60px);
    }
               
}